.container{
    
    text-align: center;
    background-color: white;

    padding: 90px 20px;
    border: 1px solid black;
    margin: 70px 70px;
    
    border-radius: .50rem;
    max-width: 300px;
    margin: auto;

    
}

body{
    background-color: black;
}

